body {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","Microsoft YaHei UI","Microsoft YaHei",sans-serif !important;
	background-color: #ffffff;
	margin-top: 15px;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	color: #555d53;
}

#body {
	margin-top: 10x;/* 
	padding-left: 0;
	padding-right: 0; */
}

.navbar-header {
	
}

#head-logo {
	/* background: #229ffd;
	height:65px;
	position: absolute; */
	/* font-size: xx-large;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(66, 139, 202); */
	height: 32px;
	width: auto;
	margin-top: 9px;
	margin-bottom: 0px;
	padding: 0;
	padding-left: 15px;
}

#header {
	/* background: url("../images/top-pattern.png") top repeat-x; */
	
	background-color:#f0f3f5;
  	border-bottom-width: 0px;
  	font-family:Helvetica,Arial,sans-serif;
  	font-size: 16px;
  	/* border-bottom: 1px solid #5581bc; */
  	/* box-shadow: 0 2px 5px #e4e0dd; */
  	/* -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
 	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
  	box-shadow: 0 2 5px rgba(0,0,0,0.2); */
  	border-bottom: 1px solid #d3cdca;
  	padding-top: 5px;
}

#header-container {
	border: 0;
  	background-color:#f0f3f5;
  	width:100%;
  	/* padding: 0px 0 14px 0; */
  	/* -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
  	box-shadow: 0 2px 2px rgba(0,0,0,.1); */
}

#search-form{
	vertical-align: middle;
	margin-left:  40px;
}

#search-form > .input-group {
	margin-top: 0px;
}

#user-logo {
  	-webkit-border-radius: 18px;
  	-moz-border-radius: 18px;
  	-ms-border-radius: 18px;
  	border-radius: 18px;
  	border: 1px solid #dfdfdf;
}

#user-logo-name {
	margin-left: 10px;
	font-size: 14px;
}

#head-menu {
	background-color: #f0f3f5;
  	border-color: #eee;
  	border-radius: 0;
  	margin-left: 50px;
  	/* -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); */
}

#user-panel {/* 
	margin-right: 80px;
  	border: 3px solid #dfdfdf;
  	border-left: 1px #dfdfdf transparent; */
}

#my-panel-dropdown {
	padding: 0;
	text-align: left;
	border-color: #e3ddda;
	border-radius: 0;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.175);
  	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.175);
  	-ms-box-shadow: 0 0 4px rgba(0,0,0,0.175);
  	box-shadow: 0 0 4px rgba(0,0,0,0.175);
  	border-width: 0 1px 1px;
  	left: 3px;
  	
}

#carousel-example-generic {
}

.carousel-img {
	max-height: 300px;
	min-width: 100%;
}

#head-shadow {
	display: block;
	height: 50px;
  	background:	url(../images/shadow.png) bottom left no-repeat;
}

.nav > li > a {
  	border-bottom: 3px solid transparent;
  /* 	border-right: 1px solid #eee; */
  	color: #777;
  	background-color: #f0f3f5;
}

#user-panel-a {
	border-bottom: 0px solid transparent;
	text-decoration:none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 0px;
}

#head-a {
	text-decoration:none;
	float:left;
}

#user-login-register {
	padding-top: 15px;
}

#user-login-register a:hover, #user-login-register a:focus {
	text-decoration: none;
}

#message-logo:hover, #message-logo:focus {
	border-bottom-color: #f0f3f5;
}

.nav > li > a:hover, .nav > li > a:focus{
  	border-bottom-color: rgb(66, 139, 202);
  	color: rgb(66, 139, 202);
  	/* background: none !important; */
  	/* border-right: 1px solid #eee; */
  	background-color: #f0f3f5;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  border-color: rgb(66, 139, 202);
  /* border-right: 1px solid #eee; */
  background-color: #f0f3f5;
}

.nav > li.active > a {
	border-bottom-color: rgb(66, 139, 202);
	/* background: none !important; */
	/* border-right: 1px solid #eee; */
	color: rgb(66, 139, 202);
	background-color: #f0f3f5;
}

#icon-wrap {
  	position: absolute;
  	top: -16px;
  	left: 50%;
  	margin-left: -4px;
  	width: 0;
  	height: 0;
  	border: 8px solid transparent;
  	border-bottom-color: #e3ddda; //倒三角的边
  	zoom: 1;
}

#icon-inner{
	position: absolute;
  	top: -16px;
  	left: 50%;
  	margin-left: -4px;
  	width: 0;
  	height: 0;
  	top: -13px;
  	margin-left: -3px;
  	border: 7px solid transparent;
  	border-bottom-color: white; //倒三角实心
	zoom: 1;
}

.pd-body-icon-wrap {
  	position: absolute;
  	left: -5px;
  	top: 30%;
  	margin-top:-1px;
  	height: 0;
  	border: 11px solid transparent;
  	border-right-color: #e3ddda; //倒三角的边
  	zoom: 1;
}

.pd-body-icon-inner{
	position: absolute;
  	left: -2px;
  	top: 30%;
  	width: 0;
  	height: 0;
  	border: 10px solid transparent;
  	border-right-color: white; //倒三角实心
	zoom: 1;
}

/*	4.2 - Navigation
/*-----------------------------------------------------------------------------------*/

.site-navigation {
	position: absolute;
	left: 0;
	top: 0;	
	width: 100%;
}
/*
.site-navigation > ul {
	margin: 0;
}
.site-navigation li > a {
	color: inherit;
}
.site-navigation li > a > i.sub-indicator {
	padding-right: 0;
}
.site-navigation li.active > a,
.site-navigation li:hover > a,
.site-navigation li > a:hover,
.site-navigation li > a:focus {
	background: none !important;
	color: #b00 !important;
}
.site-navigation > ul > li > a {
	padding-top: 12px;
	border-top: 3px solid transparent;
	border-right: 1px solid #eee;
}
.site-navigation > ul:last-child > li:last-child > a {
	border-right: 0;
}
.site-navigation > ul > li.active > a,
.site-navigation > ul > li:hover > a,
.site-navigation > ul > li > a:hover,
.site-navigation > ul > li > a:focus {
	border-top-color: #ddd;
} */

/*	Sub Menu	*/
.site-navigation .dropdown-menu {
	margin-left: -1px;
	padding: 0;
	border-color: #e3ddda;
	border-radius: 0;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.15);
  	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.15);
  	-ms-box-shadow: 0 0 2px rgba(0,0,0,0.15);
  	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}
.site-navigation .dropdown-menu > li {
	position: relative;
}
.site-navigation .dropdown-menu > li > a {
	padding: 10px 20px;
	border-bottom: 1px solid #f0f3f5;
}
.site-navigation .dropdown-menu > li:last-child > a {
	border-bottom: 0;
}
.site-navigation .dropdown-menu li > a > i.sub-indicator:before {
	content: "\f105";
}
.site-navigation .dropdown-menu .dropdown-menu {
	margin-top: -1px;
	margin-left: -10px;
	top: 0;
	left: 100%;
}

/* #user {
	vertical-align: middle;
	margin-top: 10px;
	margin-right: 50px;
} */

/* #bg-color {
	background-color: #f5f5f5;
} */

#message-body {
	/* padding-left: 0;
	padding-right: 0; */
}

#left-body {
	background-color: #ffffff;
	/* border: 1px solid #d3d3d3;
  	border-width: 0 1px;
  	border-left-width: 0px; */
}

#right-body {
	background-color: #ffffff;
}

#top-body {
	/* border: 1px solid #d3d3d3;
  	border-width: 0 1px;
  	box-shadow: 0 1px 2px #e4e0dd; */
}

#bottom-info {
	
}

.head-tabel-font {
	font-size: 18px;
	color: black;
}

.head-tabel-font-small {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.head-tabel-font-small:hover, .head-tabel-font-small:focus{
	background-color: #555d53;
	color:white;
	text-decoration: none;
}

.head-tabel-font-small > i {
	color:#555d53;
}

.head-tabel-font-small:hover i {
	color:#ffffff;
}

#hot-goods-head {
	padding: 15px;
	padding-top:20px;
	padding-bottom:10px;
	width: 100%;
	border-bottom: 2px solid rgb(66, 139, 202);
}

#hot-pd-head {
	padding: 15px;
	padding-top:20px;
	padding-bottom:10px;
	width: 100%;
	border-bottom: 2px solid rgb(66, 139, 202);
}

#hot-goods-body {
	padding-top:5px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
	width: 100%;
	background: #f5f7f8;
}

#hot-pd-body {
	padding-top:0px;
	padding-bottom:10px;
	background: #f5f7f8;
	padding-left:0;
	padding-right:0px;
	width: 100%;
}

#hot-goods-head-classify {
	  float: left;
	  margin: 2px 0 0 30px;
}

#hot-pd-head-classify {
	  float: left;
	  margin: 2px 0 0 30px;
}

#head-more {
	float: right;
	margin: 2px 0 0 0;
	text-decoration: none;
}

i {
	color:#777777;
}

.line {
	margin-left: 5px;
	margin-right: 5px;
}

.badge{
}

.cardlist-goods {
	overflow: visible;
  	font-size: 0;
  	list-style: none;
  	display: block;
  	list-style-type: disc;
  	-webkit-padding-start: 0px;
  	height: auto;
  	width: 100%;
  	padding-left: 5px;
}

.cardlist-pd {
	overflow: visible;
  	font-size: 0;
  	list-style: none;
  	display: block;
  	list-style-type: disc;
  	-webkit-padding-start: 0px;
  	height: auto;
  	width: 100%;
  	padding-left: 3px;
}

.cardlist-goods > li {
	position:relative;
	width: 175px;
	overflow: hidden;
	height: 100%;
	float: left;
	line-height: 1.4;/* 
	border: 1px solid #e9e8e7; */
	padding: 6px 6px 6px 6px;
	margin: 1px 1px 1px 1px;
}

.cardlist-pd > li {
	width:342px;
	overflow: hidden;
	height: 100%;
	float: left;
	line-height: 1.4;/* 
	border: 1px solid #e9e8e7; */
	margin-left: 10px;
    margin-top: 10px;
}

.cardlist-goods-div {
	overflow: hidden;
  	height: auto;
  	width: 100%;
  	text-align: center;
  	margin: 0 auto;
  	background: #fff;
  	background-repeat: no-repeat;
  	background-size: contain;
  	border: 5px solid #fff;
  	box-shadow: 0 0 0 1px #dfdcdc;
}

.cardlist-goods-div p {
	line-height: 18px;
  	font-size: 1.4rem;
  	display: block;
  	-webkit-margin-before: 1em;
  	-webkit-margin-after: 1em;
  	-webkit-margin-start: 0px;
  	-webkit-margin-end: 0px;
}

.commodity-price {
	position: relative;
	z-index:1;
  	right: 0;
  	bottom: 0;
  	line-height: 1;
  	padding: 8px 12px;
  	color: #fff;
  	background: #b9b9b9;
  	background: rgba(185,185,185,0.65);
}


.extra-collect {
	display:none;
	position:absolute;
	top: 17px;
  	right: 20px;
	font-size:16px;
	color: #db5140;
	line-height: 16px;
  	background: #fff;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	-ms-border-radius: 4px;
  	padding-top:5px;
  	background-image: -webkit-linear-gradient(bottom,#babbbb,#dedede 9%,#efefef 96%,#f1f2f4);
  	background-image: -moz-linear-gradient(bottom,#babbbb,#dedede 9%,#efefef 96%,#f1f2f4);
  	background-image: -ms-linear-gradient(bottom,#babbbb,#dedede 9%,#efefef 96%,#f1f2f4);
  	background-image: -o-linear-gradient(bottom,#babbbb,#dedede 9%,#efefef 96%,#f1f2f4);
 	background-image: linear-gradient(bottom,#babbbb,#dedede 9%,#efefef 96%,#f1f2f4);
 	overflow:hidden;
 	width: 40px;
 	height: 30px;
 	text-align:center;
 	z-index:999;
}

a.extra-collect:hover {
	background-image: -webkit-linear-gradient(bottom,#dcdbdb,#d2d2d2 9%,#cccccc 96%,#f1f2f4);
  	background-image: -moz-linear-gradient(bottom,#dcdbdb,#d2d2d2 9%,#cccccc 96%,#f1f2f4);
  	background-image: -ms-linear-gradient(bottom,#dcdbdb,#d2d2d2 9%,#cccccc 96%,#f1f2f4);
  	background-image: -o-linear-gradient(bottom,#dcdbdb,#d2d2d2 9%,#cccccc 96%,#f1f2f4);
 	background-image: linear-gradient(bottom,#dcdbdb,#d2d2d2 9%,#cccccc 96%,#f1f2f4);
}

.extra-collect > i {
	color: #484848;
}

.cardlist-goods-div a {
	z-index:1;
	color: #4a4a4a;
	cursor: pointer;
  	text-decoration: none;
  	max-width: 80%;
  	margin-left:-5px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.cardlist-goods-div b {
	font-weight: bold;
}

.cardlist-goods-div img {
	max-height: 151px;
	max-width: 151px;/* 
	min-height:151px;
	min-width:151px; */
}

/* .cardlist-goods-div img:hover {
	opacity:0.6;
	filter:alpha(opacity=60); 针对 IE8 以及更早的版本
} */

.cardlist-goods-price-box {
	width: 100%;
	height: auto;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	margin-top: 10px;
  	margin-left: 5px;
} 

.cardlist-goods-title {
	font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei';
	font-size: 13px;
	font-weight: normal;
	margin-top: 10px;
	margin-left:5px;
	color: rgb(0, 0, 0);
	overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
}

b, strong {
    font-weight: normal;
}

.cardlist-goods-title > a {
	cursor: pointer;
  	text-decoration: none;
  	color: rgb(0, 0, 0);
}

.cardlist-goods-title > a:hover {
  color: #979797;
}

.cur-price {
	display: inline;
  	color: #ec7373;
  	font-size: 13px;
  	font: 13px Helvetica,Arial,sans-serif;
}

.org-price {
	margin-left: 20px;
  	color: #ec7373;
  	font-size: 13px;
  	font: 13px Helvetica,Arial,sans-serif;
}

.fixed-aside {
	display: none;
  	position: fixed;
  	right: 35px;
  	bottom: 70px;
  	z-index: 200000;
}

.fixed-aside > a:hover, .fixed-aside > a:focus {
	background-color: #6b6b6b;
}

.fixed-aside > a > i {
	color: white;
	width: 100%;
}

.btn-feedback {
  	-webkit-border-radius: 3px 3px 0 0;
 	-moz-border-radius: 3px 3px 0 0;
  	-ms-border-radius: 3px 3px 0 0;
  	border-radius: 3px 3px 0 0;
  	border-bottom: 1px solid #777;
}

.fixed-aside a {
  	display: block;
  	background-color: rgba(0,0,0,0.45);
  	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#73000000,EndColorStr=#73000000);
  	color: #fff;
  	text-align: center;
  	padding: 12px 7px;
  	font-size: 12px;
  	cursor: pointer;
  	text-decoration: none;
}

.btn-follow {
  	-webkit-border-radius: 0 0 3px 3px;
  	-moz-border-radius: 0 0 3px 3px;
  	-ms-border-radius: 0 0 3px 3px;
  	border-radius: 0 0 3px 3px;
}

.btn-top {
  	margin-top: 20px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	-ms-border-radius: 3px;
  	border-radius: 3px;
}

.pd-user-info {
	text-align: center;
	margin: 0;
    padding: 0;
    font: 12px Helvetica,Arial,sans-serif;
    height: auto;
    margin-left: 15px;
    padding-top:10px;
    width: 60px;
    overflow: hidden;
    float: left;
}

.pd-user-info-a {
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.pd-user-info-a:link,  .pd-user-info-a:hover{
	text-decoration: none;
	cursor: pointer;
}

.pd-row-user-name {
	font-size: 12px;
	-webkit-transition: all .8s;
    -moz-transition: all .8s;
    transition: all .8s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color:#333;
    text-decoration: none;
    margin:0 auto;
}

.user-pic {
	border-width: 0;
    vertical-align: middle;
    padding: 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.user-pic:hover {
	opacity: .7;
    filter: Alpha(Opacity=70);
}

.pd-body-border:hover  {
	/* border: 1px dotted #ccc; */
}

.pd-body {
	height: auto;
}

.pd-body-countdown {
	position: absolute;
	right:0px;
	top:10px;
	height: 20px;
	width: auto;
	background-color: #139d72;
	margin-right: 10px;
	text-align: center;
	padding-top: 1px;
}

.pd-body-countdown > span {
	font-size: 12px;
	color: white;
}

.pd-body-border {
	height: auto;
	width: 100%;
	background-color: white;
	border: 1px solid #eee;
  	overflow:hidden;
}

.pd-body-title {
	width:100%;
	float: left;
	margin-top:15px;
	margin-left:20px;
	font-size: 16px;
	/* color: #7f4b2f; */
	color: rgb(66, 139, 202);
	cursor: pointer;
	text-decoration: none;
}

.pd-body-pic-list {
	position:absolute;
	top:15px;
	right:10px;
	margin-top: 10px;
	margin-bottom:2px;
	width: 40%;
	height: auto;
	padding: 8px;
	overflow: hidden;
}

.pd-body-pic-list > img{
	max-width: 105px;
    max-height: 105px;
    border-width: 0;
    vertical-align: middle;
    margin: 2px;
    float: left;
}

.pd-body-info-list {
	float: left;
	height: 22px;
	margin: 17px 0 0;
	overflow: hidden;
	width: 360px;
	color: #999;
	white-space: nowrap;
}

.pd-body-info-transport {
	float: left;
	color: #999;
	font-size: 12px;
}

.pd-body-title:hover, .pd-body-title:focus{
	text-decoration: none;
}

.pd-body-tags {
	height: 22px;
    margin: 17px 0 0;
    overflow: hidden;
    color: #999;
    float: left;
    width: 100%;
    white-space: nowrap;
}

.pd-body-tags > ul {
	padding: 0;
    margin: 0;
    list-style-type: circle;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

.pd-body-tags > ul > li {
	margin: 0 10px 0 0;
    padding: 4px 6px;
    height: auto;
    border: 1px solid #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 12px;
    float: left;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 12px;
}

.pd-body-tags > ul > li > a {
	text-decoration: none;
    color: #444;
    outline: none;
    line-height: 12px;
    cursor: pointer;
}

.pd-body-tags > ul > li:hover {
    background-color: #555d53;
}

.pd-body-tags > ul > li:hover a{
	text-decoration: none;
    outline: none;
	color:white;
}

#dropdown-menu-ping {
	background: rgba(255,255,255,0.95);
    border: 1px dotted #ccc;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.primary-tag {
	list-style: none;
	width: 400px;
    line-height: 1;
    float: left;
    height: 68px;
    list-style-type: disc;
}

.primary-tag li {
	display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 8px 10px;
    height: 18px;
    width: auto;
}

.primary-tag a{
	color: #333;
	font-size: 14px;
	cursor: pointer;
}

.primary-tag a:visited, .primary-tag a:focus, .primary-tag a:hover{
	color: #669;
    text-decoration: none;
}

.cardlist-pd-each {
	box-sizing: border-box;
	border: 1px solid #EEEEEE;
    width: 100%;
    height:100px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
}

.cardlist-pd-each-inner {
	position: relative;
    background: #FFFFFF;
    padding: 16px 13px 16px 63px;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
}

.pd-inner-cover {
	display: block;
    position: absolute;
    top: 14px;
    left: 14px;
}

.pd-inner-cover img {
	width: 41px;
    height: 41px;
    border-width: 0;
    vertical-align: middle;
}

.cardlist-pd-each-inner h3 {
	background: transparent;
    margin: 0;
    font-size: 14px;
    color: #138A64;
    line-height: 14px;
    white-space: nowrap;
    font: 14px Arial,Helvetica,sans-serif;
}

.pd-inner-h3-a {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
    color:rgb(74, 74, 74);
    font-size: 14px;
    line-height: 14px;
}

.pd-inner-h3-a:hover {
    color: #fff;
    text-decoration: none;
    background: #37a;
}

.pd-inner-h3-a:visited, .pd-inner-h3-a:focus{
	color: #fff;
    text-decoration: none;
    background: #37a;
}

.cardlist-pd-each-inner .pd-inner-desc {
	font-size: 12px;
    color: #999;
    line-height: 12px;
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.cardlist-pd-each-inner .pd-inner-desc a {
	color:#666;
}

.cardlist-pd-each-inner .pd-inner-desc a:hover, .cardlist-pd-each-inner .pd-inner-desc a:focus {
	color: #fff;
    text-decoration: none;
    background: #666;
}

.cardlist-pd-each-inner {
	font: 12px Arial,Helvetica,sans-serif;
}

.cardlist-pd-each-inner .pd-inner-intro{
	overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
    margin: 0;
}

.search-bar {
	width:100%;
	float: left;
}

#hot-website {
	float:left;
	width: 100%;
	height: auto;
	margin-top: 15px;
}

#hot-website-header {
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
    color: #222;
    line-height: 25px;
    border-bottom: 1px solid #e4e2e2;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    vertical-align: middle;
}

#hot-website-header span {
	margin-left: 6px;
}

#pd-rank-header span {
	margin-left: 6px;
}

#pd-rank-header {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
    color: #222;
    line-height: 25px;
    border-bottom: 1px solid #e4e2e2;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    vertical-align: middle;
}

.more-tag-right > a {
	color: rgb(153, 153, 153);
	cursor: pointer;
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height:auto;
	line-height: 22px;
	text-decoration: none;
	vertical-align:middle;
	width: auto;
	zoom: 1;

}

.more-tag-right > a:hover, .more-tag-right > a:focus {
    color: white;
    text-decoration: none;
    background-color: #999;
}

.more-tag-right {
	float: right;
	width: 30px;
}

#website-rank {
	border: 0px solid #f8f6f6;
	width: 100%;
	height: auto;
	border-left-width: 0px;
	border-right-width: 0px;
	
	    height: auto;
}

#pd-rank {
	margin-top: 20px;
	float: left;
	width: 100%;
	height: auto;
}

#website-rank {
	border: 0px solid #f8f6f6;
	width: 100%;
	height: auto;
	border-left-width: 0px;
	border-right-width: 0px;
	
	    height: auto;
}



#website-rank > ul {
	list-style: none;
	display: block;
    
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#website-rank > li {
	word-wrap: break-word;
}

.rank-thumbnail {
	float: left;
    width: 100%;
    height: auto;
    margin-bottom: 6px;
   	display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    vertical-align: middle;
}

.rank-index {
	margin-left: 5px;
    float: left;
    width: 10px;
    color: #cbcbcb;
    position: relative;
    vertical-align: middle;
}

.rank-index i {
	margin-top:4px;
	color:rgb(203, 203, 203);
}

.rank-index.top3 i {
    font-size: 30px;
}

.top1 i {
    color: rgb(66, 139, 202);
}

.top1 span {
    color: rgb(66, 139, 202);
}

.rank-index span {
    display: block;
    font-size: 16px;
    margin: 15px 0 0 8px;
    color:rgb(153, 153, 153);
}

.rank-index.top3 span {
    color: rgb(203, 203, 203);
    position: absolute;
    font-size: 12px;
    top: -4px;
    left: 2px;
}

.rank-index span {
    display: block;
    font-size: 16px;
    margin: 15px 0 0 8px;
}

.rank-index.top3.top1 span {
    color: rgb(66, 139, 202);
    position: absolute;
    font-size: 12px;
    top: -4px;
    left: 2px;
}

.wrapper {
	float:right;
	width: 210px;
	margin-left: 25px;
	word-wrap: break-word;
	font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 19.4400005340576px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	color:rgb(51, 119, 170);
}

.wrapper:hover, .wrapper:focus {
    text-decoration: none;
}

.rank-thumbnail:hover {
	background-color: #f5f7f8;
}

.rank-thumbnail:hover .wrapper {
	background-color: #f5f7f8;
}

.pd-rank-inner {
	list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.pd-rank-inner li {
	position:relative;
	width: 100%;
	height: 60px;
}

.pd-rank-inner li:hover,  .pd-rank-inner li:focus{
	text-decoration: none;
	cursor: pointer;
	background: #F5F7F8;;
}

.pd-rank-inner li h3{
	background-color: transparent;
    color: rgb(66, 139, 202);
    line-height: 14px;
    padding-left:10px;
    padding-top:12px;
    padding-bottom:2px;
    margin:0px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 14px Helvetica,Arial,sans-serif;
    
}

.pd-rank-inner-detail {
	font-size: 12px;
    color: #999;
    line-height: 12px;
    padding: 0;
    margin: 0;
    font: 12px Helvetica,Arial,sans-serif;
    padding-left: 10px;
}

.pd-rank-index {
	position: absolute;
    height: 100%;
    font-weight: normal;
    font-size: 34px;
    color: #E6E6E6;
    line-height: 60px;
    right: 2px;
    top:0px;
}

.pd-rank-inner-img {
	border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    line-height: 48px;
    text-align: center;
    display: block;
    zoom: 1;
    color: #111;
    float: left;
    margin-top: 6px;
    margin-left: 2px;
}

.pd-rank-inner-img img {
	max-height: 48px;
    max-width: 48px;
    border: 0;
    
}

#footer {
	color: #999;
    padding: 6px 0;
    margin-top: 40px;
    overflow: hidden;
    zoom: 1;
    border-top: 1px dashed #ddd;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}

.fright {
	float: right;
}

/*登录 */
#lean_overlay {
    position: fixed;
    z-index:1001;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: gray;
    display: none;
}

#signup {
    display: none;
    vertical-align: top;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 0 9px rgba(0,0,0,0.1);
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    overflow: hidden;
    background: #fff;
    border: 1px solid #bbb;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 353px;
}

#signup-header > a {
	position:absolute;
	top: 12px;
    right: 12px;
    padding: 0 3px;
	color: #666;
	font-size: 16px;
    font-family: arial;
    
}

#signup-header > a:hover, #signup-header > a:focus {
	text-decoration: none;
	color: #666;
}

#login {
	width: auto;

}

#register {
	width: auto;
}

.modal-bd {
	padding: 0;
    font-size: 12px;
    position: relative;
    width: 520px;
    height: 353px;
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 12px Helvetica,Arial,sans-serif;
}

.modal_close {
	position: absolute;
    top: 10px;
    right: 12px;
    padding: 0 3px;
    z-index: 1;
    font-size: 16px;
    font-family: arial;
    color: rgb(102, 102, 102);
}

.modal_close:hover, .modal_close:focus {
	text-decoration: none;
	color: black;
}

.login-block {
	
}

#login-form {
	position:absolute;
    width: 357px;
    padding: 27px 38px 0 34px;
    letter-spacing: 0;
}

#register-form {
	position:absolute;
    width: 357px;
    padding: 27px 38px 0 34px;
    letter-spacing: 0;
    display:none;
}

.login-block h2, .register-block h2 {
	margin: 0;
    color: #333;
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 27px;
    padding: 0;
    overflow: hidden;
    zoom: 1;
    font-weight: normal;
    font: 20px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}

.data-fieldset, .register-block .data-fieldset {
    margin-top: 18px;
    height: 100%;
    min-height: 230px;
    position: relative;
}

form.pop-form .item {
    color: #666;
}

form.pop-form .spec {
    cursor: text;
    position: relative;
    padding: 0;
    height: 34px;
    width:285px;
    margin-bottom: 14px;
    background-color: #F2F2F2;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

form.pop-form .input-err {
    background-color: #f7cccc!important;
}

form.pop-form .spec label {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-bottom: 0px;
    font-weight: normal;
}

label {
    cursor: default;
}

form.pop-form .item .text {
    position: absolute;
    border: 0 none;
    background: 0;
    width: 170px;
    top: 10px;
    left: 63px;
}

form.pop-form .item input{
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    padding: 0px 0px;
    margin: 0em;
    font: normal normal normal normal 13.3333330154419px/normal Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    border-left:0px;border-top:0px;border-right:0px;border-bottom:0px ;
    outline:none;
}

.err_tip {
    height: 34px;
    line-height: 34px;
    color: red;
    margin-right: 10px;
    float: right;
}

form.pop-form .recsubmit {
    position: relative;
    clear: both;
    padding-top: 10px;
}

form.pop-form .item .remember {
    float: left;
    width: 100%;
    margin-top: 12px;
    overflow: hidden;
    zoom: 1;
    font-weight: normal;
}

form.pop-form .item .remember-register {
    float: left;
    width: auto;
    margin-top: 8px;
    overflow: hidden;
    zoom: 1;
    font-weight: normal;
}

form.pop-form .item .remember input {
	float:left;
}

form.pop-form .item .remember-register input {
	float:left;
}

form.pop-form .item .remember label{
    font-weight: normal;
    margin-left:5px;
    float: left;
}

form.pop-form .item .remember-register label{
    font-weight: normal;
    margin-left:5px;
    float: left;
}

form.pop-form .item .remember a {
    float: right;
}

form.pop-form .item .remember-register a {
    float: left;
}

form.pop-form .item .remember a:hover, form.pop-form .item .remember a:focus{
 color: rgb(17, 17, 17);
 text-decoration: none;
}

form.pop-form .item .remember-register a:hover, form.pop-form .item .remember a:focus{
 color: rgb(17, 17, 17);
 text-decoration: none;
}

form.pop-form .recsubmit a {
    color: #985d3e;
}

.btn-login {
    left:0px;
}


.btn-submit, .btn-submit-dis {
	float:right;
	margin-top:62px;
    display: block;
    width: 130px;
    height: 35px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(66, 139, 202);
    border: 1px solid rgb(66, 139, 202);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.btn-register {
	float: right;
	display: block;
    width: 130px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(66, 139, 202);
    border: 1px solid rgb(66, 139, 202);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 3px;
   	margin-top: -3px;
}

#message-right-body {
	margin-left:-15px;
	padding-left: 5px;
	padding-right: 0px;
}

#message-left-body {
	padding-right: 30px;
}

#other_login_info {
	position: absolute;
	right: 0px;
	top:0px;
	border-left: 1px dotted #ccc;
	width: 174px;
    height: 293px;
    margin-top: 27px;
    margin-bottom: 66px;
}

.third-party-mod {
    position: absolute;
    top: 0px;
    left: 25px;
    width: 160px;
}

.third-party-mod p {
	letter-spacing: 0;
    color: #888;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0px;
}

.third-party-mod ul {
    margin-top: 5px;
    list-style: none;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    letter-spacing: 0;
    color: #888;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}

.third-party-mod ul li {
	display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

.third-party-mod a, .login-mod a {
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(66, 139, 202);
    float: left;
}

.third-party-mod a:hover, .third-party-mod a:focus {
	text-decoration: none;
}

#other-info {
	position: absolute;
    left: 25px;
    width: 160px;
    bottom: 0px;
}

#other-info a {
	display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(66, 139, 202);
    float: left;
}

#other-info a:hover, #other-info a:focus {
	text-decoration: none;
}

#other-info p {
	letter-spacing: 0;
    color: #888;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0px;
}

.btn-register {
	float: right;
	width: 110px;
    height: 35px;	
    margin-bottom: 35px;
}
